<script>
  $(document).ready(function() {
    $('a#submit_deposit').on('click',function(){
      var error = false;
      if ($('input[name="name"]').val() == "") {
        $('input[name="name"]').css('border','1px solid red');
        error = true;
      }
      if ($('#fiscal_type option:selected').val() == "none") {
        $('#fiscal_type').css('border','1px solid red');
        error = true;
      }
      if ($('#protection option:selected').val() == "none") {
        $('#protection').css('border','1px solid red');
        error = true;
      }
      if (!error) {
        $('form.ponctuel').submit();
      }
    })
  });
</script>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Nouveau portfolio</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">

      <div class="row">
          <form class="form-horizontal ponctuel" action="/api/addportfolio/{{frompage}}" method="POST">
            <input type="hidden" name="universe" value="1">
            <div class="form-group">
              <label class="col-md-2 control-label">Nom</label>
              <div class="col-md-10">
                <input name="name" class="form-control" placeholder="Veuillez entrer un nom pour votre portfolio.">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Type fiscal</label>
              <div class="col-md-10">
                <select id="fiscal_type" name="fiscal_type" class="form-control">
                  <option value="none">Choisir une valeur</option>
                  <option value="Compte titre">Compte titres</option>
                  <option value="Assurance vie">Assurance vie</option>
                  <option value="PERP">PERP</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Protection</label>
              <div class="col-md-10">
                <select id="protection" name="protection" class="form-control">
                  <option value="none">Choisir une valeur</option>
                  <option value="80">80 %</option>
                  <option value="90">90 %</option>
                  <option value="95">95 %</option>
                  <option value="100">100 %</option>
                </select>
              </div>
            </div>
          </form>

      </div><!-- end row -->
    </div>
  </div><!-- end col -->
</div>
<!-- end row -->

<div class="row">
  <div class="dropdown pull-right">
    <a id="submit_deposit"><button class="btn btn-success waves-effect waves-light">Enregistrer</button></a>
  </div>
</div>
