<div class="ex-page-content text-center">
    <div class="text-error">Bientot !</div>
    <h3 class="text-uppercase font-600">Page en construction</h3>
    <p class="text-muted" style="padding-left:20%;padding-right:20%">
        Nous sommes actuellement en train de travailler dur sur cette page, nous vous notifierons dès qu'elle
        sera disponible !
    </p>
    <br>
    <a class="btn btn-success waves-effect waves-light" href="/app"> Retours au dashboard</a>

</div>
