<div class="card-box">

<div class="row">
    <div class="col-sd-12">
    	<img src="/assets/images/ayoub.png" height="150px" width="150px" class="img-circle" style="margin: 0 auto;display: block"  />
        <h3 class="text-center">Bonjour {{user.profile.first_name}}, bienvenue sur la plateforme d'épargne facile Milvus.</h3>
        <h4 class="text-center">Commencez votre épargne en quelques secondes</h4>
    </div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="widget-inline">
			<div class="row">
				<div class="col-md-4">
					<div class="widget-inline-box text-center">
						<h3><img src="http://solidaire.org/sites/default/files/images/2015/08/24/taxshift/tirelire-icon.png" height="50px" width="50px" class="img-circle" style="margin: 0 auto;display: block"  /></h3>
						<h4 class="text-muted">Planifier votre épargne sereinement en la protégeant</h4>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="widget-inline-box text-center">
						<h3><img src="http://www.faeltd.com/wp-content/uploads/2013/07/service.png" height="50px" width="50px" class="img-circle" style="margin: 0 auto;display: block"  /></h3>
						<h4 class="text-muted">Fructifier votre épargne avec notre méthodologie innovante</h4>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="widget-inline-box text-center">
						<h3><img src="http://www.freeiconspng.com/uploads/growth-icon-17.png" height="50px" width="50px" class="img-circle" style="margin: 0 auto;display: block"  /></h3>
						<h4 class="text-muted">Bénéficiez d'un conseil personalisé pour optimiser votre fiscalité</h4>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

<div class="row">
	<button type="button" onClick="window.location = '/app/banque'" class="btn btn-success waves-effect waves-light" style="margin: 0 auto;display: block">
	   <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;Finaliser mon inscription
	</button><br/>
	<a class="text-center" style="margin: 0 auto;display: block;cursor: pointer;" href="/app">
	   Je le ferai plus tard
	</a>
</div>


</div>





